@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700|Source+Sans+Pro:300,400');
@import url("normalize.css");

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	color: #fff;

}
header {
	color: #3c3950;
	font-family: 'Montserrat', sans-serif;
}
header .menu {
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.nav {
	font-size: 14px;
	font-weight: 700;
}
.nav a {
	color: #3c3950;
}
.nav a:hover {
	color: #33c9dd;
}
.language {
	text-align: right;
	padding-top: 5px;
}
.language a {
	padding-left: 20px;
}
.title {
	background-color: #e9f0ef;
}
.title h3 {
	font-size: 50px;
	line-height: 50px;
	padding-top: 40px;
	font-weight: 700;
	text-transform: uppercase;
}
.title span {
	padding-left: 20px;
	font-weight: 200;
}
.clock {
	padding-top: 24px;
	text-align: right;
}
.breadcrumbs {
	margin-top: 45px;
	list-style-type: none;
	display: flex;
	font-size: 16px;
	text-transform: none;
}
.breadcrumbs li::after {
	padding-left: 15px;
	padding-right: 15px;
	content: "\f178";
}
.sloder {
	background-color: #212331;
	color: #fff;
}
.sloder h1 {
	font-size: 100px;
	text-transform: uppercase;
	padding-left: 18px;
	padding-top: 265px;
	line-height: 130px;
	font-weight: 200;
	letter-spacing: 5px;
}
.sloder span {
	padding-left: 40px;
	font-weight: 700;
}
.details {
	max-width: 800px;
	font-size: 24px;
	text-align: center;
	padding-bottom: 218px;
	font-weight: 200;
}
/* 



noi dung main 



*/
footer {
	background-color: #212331;
	color: #818e9b;
}
.footer-top {
	padding-top: 135px;
	padding-bottom: 100px;
}
.logo-text div {
	padding-top: 50px;
	padding-bottom: 75px;
}
.contact {
	padding-bottom: 30px;
}
.contact div {
	font-size: 14px;
}
.contact h4 {
	padding-bottom: 45px;
	color: #fff;
}
.address p:before {
	content: "\f3c5";
	padding-right: 12px;
}
.address {
	padding-bottom: 38px;
	border-bottom: 1px dashed #818e9b;
}
.phone {
	padding-top: 36px;
}
div a {
	text-decoration: none;
	color: #33c9dd;
}
h4 {
	font-size: 19px;
	text-transform: uppercase;
	font-weight: 700;
}
.post h4 {
	color: #fff;
	padding-bottom: 45px;
}
.ellipse {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	color: #fff;
}
/* .ellipse-first {
	border-bottom: 1px dashed #818e9b;
}
.ellipse-second {
	border-bottom: 1px dashed #818e9b;
}
.post div {
	display: flex;
	margin-bottom: 30px;
	border-bottom: 1px dashed #3c3950;
} */
.links h4 {
	color: #fff;
	margin-top: 70px;
	margin-bottom: 45px;
}
.links ul li {
	padding-bottom: 15px;
	margin-top: 15px;
	border-bottom: 1px dashed #3c3950;
}
.links ul li:hover {
	color: #00bcd4;
}
.links ul li:last-child {
	border:  none;
}
.contact-form h4 {
	color: #fff;
	margin-bottom: 50px;
}
.contact-form form input {
	background-color: #181828;
	margin-bottom: 15px;
	border-color: #394050;
}
.contact-form form input:hover {
	color: #99a9b5;
	border-color: #00bcd4;
	background-color: #181828;
}
.contact-form form textarea {
	background-color: #181828;
	margin-bottom: 15px;
	border-color: #394050;
}
..contact-form form textarea:hover {
	color: #99a9b5;
	border-color: #00bcd4;
	background-color: #181828;
}
.contact-form form button {
	font-size: 14px;
	background-color: #394050;
	color: #99a9b5;
	height: 40px;
	text-transform: uppercase;
	border: none;
}
.contact-form form button:hover {
	color: #99a9b5;
	border-color: #00bcd4;
	background-color: #181828;
}
.projects {
	margin-top: 80px;
}
.projects h4 {
	color: #fff;
	margin-bottom: 40px;
}
.projects .row {
	margin-bottom: 10px;
	margin-right: 10px;
}
.project1 {
	width: 80px;
	height: 80px;
	color: #828e97;
}
.project2 {
	width: 80px;
	height: 80px;
	color: #5c6973;
}
.project3 {
	width: 80px;
	height: 80px;
	color: #4b565d;
}
.project {
	margin: 12px;
	text-align: center;
	width: 13px;
	height: 13px;
	border-radius: 50%;
}
.project .ellipse1 {
	color: #99a9b5;
}
.project {
	color: #394050;
}
.flickr h4 {
	color: #fff;
	margin-bottom: 40px;
}
.flickr .row {
	margin-right: 10px;
	margin-bottom: 10px;
}
.flickr .row div {
	width: 80px;
	height: 80px;
	color: #828e97;
}
.newsletter {
	margin-top: 80px;
}
.newsletter h4 {
	color: #fff;
	margin-bottom: 40px;
}
.newsletter input {
	margin-top: 45px;
	margin-bottom: 20px;
	background-color: #181828;
	border-color: #394050;

}
.newsletter div span {
	color: #00bcd4;
}
.date {
	text-align: center;
}
.date .line {
	width: 3px;
	margin-top: 215px;
	margin-bottom: 215px;
	color: #b6c6c9;
}



.footer-bottom {
	background-color: #181828;
	font-size: 14px;
	font-weight: 200;
	padding-top: 45px;
	padding-bottom: 45px;
}
.footer-bottom .menu {
	text-align: center;
}
.footer-bottom .menu a {
	padding-right: 38px;
	color: #818e9b;
	list-style-type: none;
}
.socials {
	text-align: right;
}









